@import "./scss/_variables.scss";

body {
  background-color: $bg;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  background: $hdr-bg;
}

.home-img-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-top: 3em;
  img {
    grid-column: 3/6;
    grid-row: 1/3;
  }
  .design-wrapper,
  .dev-wrapper {
    background: $secondary;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
    color: $bg;
    padding: 2em;
  }

  .design-wrapper {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-bottom: 1em;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
  }
  .dev-wrapper {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 1em;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
  }
}

@media (min-width: 768px) {
  .home-img-wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    img {
      grid-column: 6/13;
      grid-row: 1/3;
    }

    .design-wrapper {
      grid-row: 1/2;
      grid-column: 1/7;
    }

    .dev-wrapper {
      grid-row: 2/3;
      grid-column: 1/7;
    }
  }
}

.nav-link,
.navbar-brand {
  color: $txt;
  &:hover {
    color: $primary-hover;
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid $primary;
  &:hover {
    border: 1px solid $primary;
    background: $primary-hover;
  }
}

.btn-outline-primary {
  border: 1px solid $primary;
  color: $primary;
  &:hover {
    border: 1px solid $primary;
    background: $primary-hover;
  }
}

.list-group-item {
  background: transparent;
  border: none;
}

// Portfolio Wrapper
.portfolio-wrapper {
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  display: grid;

  grid-gap: 1em;
}

.portfolio-item {
  padding: 3em;
  background: $primary;
  height: 250px;
}

.one {
  grid-column: 1/5;
  grid-row: 1/2;
}

.two {
  grid-row: 2/3;
  grid-column: 1/3;
}

.three {
  grid-row: 2/4;
  grid-column: 3/5;
}
.five {
  grid-row: 3/4;
  grid-column: 2/5;
}
